<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Basic" />
                <binding name="Basic1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ws" />
                <binding name="ws1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49855/CalculatorService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="ws" contract="Calculator.ICalculator"
                name="ws">
                <identity>
                    <userPrincipalName value="nwarke@sapient.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49855/CalculatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="Basic" contract="Calculator.ICooler"
                name="Basic" />
            <endpoint address="http://localhost:49855/CoolerService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="ws1" contract="Cooler.ICooler"
                name="ws1">
                <identity>
                    <userPrincipalName value="nwarke@sapient.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49855/CoolerService.svc"
                binding="basicHttpBinding" bindingConfiguration="Basic1" contract="Cooler.ICooler"
                name="Basic1" />
        </client>
    </system.serviceModel>
</configuration>