
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    <input type="text" name="UserId" />
    <input type="password" name="Password" />
    <input type="submit" name="Submit" value="Login" />
</form>
   